.lane {
  position: relative;
  width: 800px;
  height: 150px;
  background-color: #666666;
  overflow: hidden; }

.char-container {
  position: relative;
  width: 8000px;
  left: 500px; }

.target-circle {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 94px;
  height: 94px;
  background: transparent;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 6px solid #eeeeee; }

.typed-char {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 94px;
  height: 94px;
  background-color: #f72d09;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 6px solid #eeeeee;
  font-size: 48px;
  color: #eeeeee;
  line-height: 100px;
  text-align: center;
  display: inline-block; }
